---
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/HeroSection.astro';
import ProblemSection from '../components/ProblemSection.astro';
import SolutionSection from '../components/SolutionSection.astro';
import DemoSection from '../components/DemoSection.astro';
import ConclusionSection from '../components/ConclusionSection.astro';
import AuthorSection from '../components/AuthorSection.astro';
---

<Layout title="Astro vs React — ¿Cuándo usar cada uno?">
  <main>
    <HeroSection />
	<ProblemSection />
	<SolutionSection />
	<DemoSection />
	<ConclusionSection />
	<AuthorSection />
  </main>
</Layout>